.container {
    max-width: var(--max-width-container);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
}
.container--text {
    max-width: var(--max-width-container-text);
}
.container--full-width {
    max-width: none;
}
.container--full-bleed {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    --gutter: 0;
}
