.container {
    max-width: var(--max-width-container);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
}
.container--text {
    max-width: var(--max-width-container-text);
}
.container--full-width {
    max-width: none;
}
.container--normal-gutter {
    --gutter: var(--DEFAULT-GUTTER);
}
.container--no-gutter {
    --gutter: 0;
}
.container--less-gutter {
    --gutter: calc(0.5 * var(--DEFAULT-GUTTER));
}
.container--more-gutter {
    --gutter: calc(1.5 * var(--DEFAULT-GUTTER));
}
