.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col {
    flex: 1 0 0%;
}

.row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
}

.row-cols-1 > *,
.row-cols-2 > *,
.row-cols-3 > *,
.row-cols-4 > *,
.row-cols-5 > *,
.row-cols-6 > * {
    flex: 0 0 auto;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    flex: 0 0 auto;
}
