/* DEFAULTS: flex: 0 1 auto */

.cell {
    flex: 0 0 auto;
    min-width: 0;
    width: 100%;
}
.cell.auto {
    flex: 1 1 0;
    min-width: 0;
    width: 100%;
}
.cell.shrink {
    flex: 0 0 auto;
    min-width: 0;
    width: 100%;
}

.grid-x > .auto {
    width: auto;
}
.grid-x > .shrink {
    width: auto;
}

.grid-x > .small-shrink {
    flex-basis: auto;
}
.grid-x > .small-full {
    flex-basis: auto;
}

/* cells by default are full width --- FULL */
/* flex: 0 0 auto; */
/* width: 100%; */
/* cells with .auto take up the remaining space - FILL */
/* flex: 1 1 0px */
/* width: auto */
/* cells with .shrink take up only the space they need - SHRINK */
/* flex: 0 0 auto */
/* width: auto */
