/* DEFAULTS: flex: 0 1 auto */

.cell {
    flex: 0 0 auto;
    min-width: 0;
    width: 100%;
}
.cell.auto {
    flex: 1 1 0;
}
.cell.shrink {
    flex: 0 0 auto;
}

.grid-x > .auto {
    width: auto;
}
.grid-x > .shrink {
    width: auto;
}

.grid-x > .small-shrink {
    flex-basis: auto;
}
.grid-x > .small-full {
    flex-basis: auto;
}
