.row {
    display: flex;
    flex-flow: row wrap;
    margin-right: calc(-0.5 * var(--gutter));
    margin-left: calc(-0.5 * var(--gutter));
}
.row > * {
    padding-right: calc(var(--gutter) * 0.5);
    padding-left: calc(var(--gutter) * 0.5);
}

.col {                          /* fill */
    flex: 1 1 0%;               /* or 1 0 0% in bs */
    width: 100%;
    min-width: 0;               /*zf*/
}
.col--shrink {
    flex: 0 0 auto;
    width: auto;
}
.col--fill {
    flex: 1 1 0%;               /* or 1 0 0% in bs */
    width: auto;
}
.col--full {
    flex: 0 0 auto;
    width: 100%;
}
.col--1, .col--2, .col--3, .col--4, .col--5, .col--6, .col--7, .col--8, .col--9, .col--10, .col--11, .col--12 {
    flex: 0 0 auto;
}

.col--1  { width: calc(100% *  1 / 12); }
.col--2  { width: calc(100% *  2 / 12); }
.col--3  { width: calc(100% *  3 / 12); }
.col--4  { width: calc(100% *  4 / 12); }
.col--5  { width: calc(100% *  5 / 12); }
.col--6  { width: calc(100% *  6 / 12); }
.col--7  { width: calc(100% *  7 / 12); }
.col--8  { width: calc(100% *  8 / 12); }
.col--9  { width: calc(100% *  9 / 12); }
.col--10 { width: calc(100% * 10 / 12); }
.col--11 { width: calc(100% * 11 / 12); }
.col--12 { width: calc(100% * 12 / 12); }

.col--offset-0  { margin-left: calc(100% *  0 / 12); }
.col--offset-1  { margin-left: calc(100% *  1 / 12); }
.col--offset-2  { margin-left: calc(100% *  2 / 12); }
.col--offset-3  { margin-left: calc(100% *  3 / 12); }
.col--offset-4  { margin-left: calc(100% *  4 / 12); }
.col--offset-5  { margin-left: calc(100% *  5 / 12); }
.col--offset-6  { margin-left: calc(100% *  6 / 12); }
.col--offset-7  { margin-left: calc(100% *  7 / 12); }
.col--offset-8  { margin-left: calc(100% *  8 / 12); }
.col--offset-9  { margin-left: calc(100% *  9 / 12); }
.col--offset-10 { margin-left: calc(100% * 10 / 12); }
.col--offset-11 { margin-left: calc(100% * 11 / 12); }

.row--auto-up > .col { width: auto; } /* per bs; keep in which we change cell width default */
.row--1-up    > .col { width: calc(100% / 1); }
.row--2-up    > .col { width: calc(100% / 2); }
.row--3-up    > .col { width: calc(100% / 3); }
.row--4-up    > .col { width: calc(100% / 4); }
.row--5-up    > .col { width: calc(100% / 5); }
.row--6-up    > .col { width: calc(100% / 6); }
