.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}
.cell.auto {
    flex: 1 1 0;
}
.cell.shrink {
    flex: 0 0 auto;
}

.grid-x > .auto {
    width: auto;
}
.grid-x > .shrink {
    width: auto;
}

.grid-x > .small-shrink,
.grid-x > .small-full,
.grid-x > .small-1,
.grid-x > .small-2,
.grid-x > .small-3,
.grid-x > .small-4,
.grid-x > .small-5,
.grid-x > .small-6,
.grid-x > .small-7,
.grid-x > .small-8,
.grid-x > .small-9,
.grid-x > .small-10,
.grid-x > .small-11,
.grid-x > .small-12 {
    flex-basis: auto;
}

.grid-x > .small-12,
.grid-x > .small-11,
.grid-x > .small-10,
.grid-x > .small-9,
.grid-x > .small-8,
.grid-x > .small-7,
.grid-x > .small-6,
.grid-x > .small-5,
.grid-x > .small-4,
.grid-x > .small-3,
.grid-x > .small-2,
.grid-x > .small-1 {
    flex: 0 0 auto;
}

@media print,
screen and (min-width: 40em) {
    .grid-x > .medium-auto {
        flex: 1 1 0;
        width: auto;
    }
    .grid-x > .medium-shrink {
        flex: 0 0 auto;
    }
    .grid-x > .medium-shrink {
        width: auto;
    }
}
@media print,
screen and (min-width: 64em) {
    .grid-x > .large-auto {
        flex: 1 1 0;
        width: auto;
    }
    .grid-x > .large-shrink {
        flex: 0 0 auto;
    }
    .grid-x > .large-shrink {
        width: auto;
    }
}
