/* DEFAULTS: flex: 0 1 auto */

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col {
    flex: 1 0 0%;
}

.row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
}

.row-cols-1 > *,
.row-cols-2 > *,
.row-cols-3 > *,
.row-cols-4 > *,
.row-cols-5 > *,
.row-cols-6 > * {
    flex: 0 0 auto;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}
