@import url('normalize.css');
@import url('settings.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
    font-size: var(--font-size-h1);
}

h2, .h2 {
    font-size: var(--font-size-h2);
}

h3, .h3 {
    font-size: var(--font-size-h3);
}

h4, .h4 {
    font-size: var(--font-size-h4);
}

h5, .h5 {
    font-size: var(--font-size-h5);
}

h6, .h6 {
    font-size: var(--font-size-h6);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: var(--margin-top-heading);
    margin-bottom: var(--margin-bottom-heading);
    font-weight: var(--font-weight-heading);
    font-style: var(--font-style-heading);
    font-family: var(--font-family-heading);
    color: var(--color-heading);
}

p, .p, ul, ol, dl, dir, menu {
    margin-top: var(--margin-top-p);
    margin-bottom: var(--margin-bottom-p);
}
