@import url('normalize.css');
@import url('settings.css');
@import url('container.css');
@import url('utilities.css');
@import url('grid.css');
@import url('buttons.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1, var(--line-height-heading));
}

h2, .h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2, var(--line-height-heading));
}

h3, .h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3, var(--line-height-heading));
}

h4, .h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4, var(--line-height-heading));
}

h5, .h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5, var(--line-height-heading));
}

h6, .h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6, var(--line-height-heading));
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: var(--margin-top-heading);
    margin-bottom: var(--margin-bottom-heading);
    font-weight: var(--font-weight-heading);
    font-style: var(--font-style-heading);
    font-family: var(--font-family-heading);
    color: var(--color-heading);
}

p, .p, ul, ol, dl, dir, menu, pre, blockquote, table {
    margin-top: var(--margin-top-p);
    margin-bottom: var(--margin-bottom-p);
}

ul ul, ul ol, ul dl, ul dir, ul menu,
ol ul, ol ol, ol dl, ol dir, ol menu,
dl ul, dl ol, dl dl, dl dir, dl menu,
dir ul, dir ol, dir dl, dir dir, dir menu,
menu ul, menu ol, menu dl, menu dir, menu menu {
    margin-top: var(--margin-top-nested-list);
    margin-bottom: var(--margin-bottom-nested-list);
}

dt {
    margin-bottom: 0.333rem;
    font-weight: bold;
}
dd {
    margin-bottom: 0.666rem;
}

.ul--no-bullets {
    list-style: none;
    padding-left: 0;
}
